.container{
    max-width: 1000px;
     /* height: 400px;  */
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    /* flex-direction: row-reverse;
    justify-content: end; */

   
}

.item{
    /* height: 200px;  */
    width: 300px; 
    padding: 10px;
    border: 1px solid blue;
    background-color: yellow;
     /* flex-grow: 1;  */
}

/* .item1{ 
    order: 6;
}

.item3{
    order: 5;
}

.item4{
    order: 2;
}

.item5{
    order: 4; 
}*/


.item{
    /* flex-grow: 2; */
    /* flex-shrink: 0; */
    /* flex-basis: 500px; */
    /* order: 3; */
  
}


/* units
px
vh
vw
%
em
rem
*/